body {
    background: url(../images/bg-repeat.jpg);
    background-repeat: repeat-x;
    background-position: top left;
    background-size: contain;
    font-family: "Roboto", sans-serif;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.sessao-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    height: 180px;
    padding: 20px;
    gap: 14px;
    color: #fff;
}

.sessao-texto .titulo {
    font-size: 20px;
    font-weight: 900;
    line-height: 24px;
}

.sessao-texto .texto {
    width: 300px;
    font-size: 15px;
    font-weight: 400;
}

.sessao-formulario {
    background-color: #fff;
    width: 340px;
    height: 380px;
    max-width: 100%;
}

.formulario {
    padding: 10px;
    height: 100%;
}

.formulario .campo {
    margin-bottom: 6px;
    padding: 10px 10px 6px 10px;
    position: relative;
}
  
.formulario .campo .input {
    display: block;
    border: 1px solid #000;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    padding: 6px;
}
  
.formulario .campo .mensagem {
    border: 1px solid #000;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    width: 100%;
    height: 100px;
    padding: 6px;
    resize: none;
    display: flex;
}

.formulario .campo .input::placeholder,
.formulario .campo .mensagem::placeholder {
    font-weight: 700;
    color: #a8a8a8;
}


.formulario .campo .small {
    position: absolute;
    font-size: 8px;
    font-weight: 400;
    color: #e74c3c;
    bottom: 10;
    left: 0;
    padding-left: 14px;
    visibility: hidden;
}

.formulario .texto-campos-obrigatorios {
    font-size: 15px;
    margin-bottom: 10px;
}
  
.formulario .botao {
    background-color: #3ccc87;
    border: none;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    margin: 0px 10px 0px 10px;
    cursor: pointer;
}

.formulario .botao:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 40px -15px rgba(0, 0, 0, 0.8);
}
  
.campo.preenchido .input,
.campo.preenchido .mensagem {
    border: 1px solid #2ecc71;
}
  
.campo.nao-preenchido .input,
.campo.nao-preenchido .mensagem {
    border: 1px solid #e74c3c;
}
  
.campo.nao-preenchido .small {
    visibility: visible;
}